{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Painterest | Register{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto my-auto text-center register_col">
        <h2>Sign Up</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-5 mx-auto my-auto" id="reg_cat">
        <div class="content-section mt-1 bg-light">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info log" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="mt-3 mb-2">
                <small class="text-muted">
                    Have An Account? <a class="category" href="{% url 'login' %}">Sign In</a>
                </small>
            </div>
        </div>
    </div>
</div>

{% endblock %}