{% extends 'main/base.html' %}


{% block content %}

<div class="row">
    <div class="col-md-8 mx-auto d-flex justify-content-between follwi_follwe">
        <button id="followers" class="btn btn-info">Followers ({{ followers_count }})</button>
        <button id="followings" class="btn btn-info">Following ({{ following_count }})</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <hr class="setting_demar">
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="content-section my-2"  id="flwr_div">
            <div class="row">
                {% for user in users_follower %}
                    <div class="col-md-3 text-center follw_and_follwin_col">
                        <a href="{% url 'painter_profile' user.user_from %}" class="red_to_profile">
                            <div class="d-inline-block">
                                <img class="img-fluid rounded-circle follower_img" src="{{ user.user_from.profile.image.url }}">
                                <p class="red_to_profile">{{ user.user_from }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="content-section my-2" id="flwng_div">
            <div class="row">
                {% for user in users_following %}
                    <div class="col-md-3 text-center follw_and_follwin_col">
                        <a href="{% url 'painter_profile' user.user_to %}" class="red_to_profile">
                            <div class="d-inline-block">
                                <img class="img-fluid rounded-circle follower_img" src="{{ user.user_to.profile.image.url }}">
                                <p class="red_to_profile">{{ user.user_to }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

