{% extends 'main/base.html' %}

{% block title %}Painterest | Profile{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-6 mx-auto my-auto text-center profil_col">
        <div class="content-section bg-light pt-4 pb-4 profile_bcg">
            {% if user.profile.image.name == '90a70ab564f045a48488cd440f3b56e4-dp.jpg' %}
                <div class="change_badge mx-auto">{{ user.username.0 }}</div>
            {% else %}
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            {% endif %}
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
            <h5>{{ user.email }}</h5>
            <a href="{% url 'following_and_follower' user %}" class="category follow mt-2">Followers
                <span class="badge bg-dark text-light">{{ user.followers.all.count }}</span>
            </a>
            <a href="{% url 'following_and_follower' user %}" class="category follow mt-2">Following
                <span class="badge bg-dark text-light">{{ user.following.all.count }}</span>
            </a>
            <hr>
            <h4 class="text-danger">About</h4><hr>
            <h5 id="prof_about">{{ user.profile.about }}</h5><hr>
            <a href="{{ user.profile.website_url }}" target="blank" id="web_url" 
            class="text-danger">{{ user.profile.website_url }}</a>
            <a href="{% url 'settings' %}" class="d-block category mt-3">Edit your profile here</a>
        </div>
    </div>
</div>

{% endblock %}

