{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load users_tags %}
{% block title %}Painterest | Settings{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12 mb-4">
    <div class="settings mx-auto d-flex justify-content-around">
      <button class="btn btn-info" id="profile" data-aos="flip-right" data-aos-delay="200" data-aos-duration="1000">
        Edit profile
      </button>
      <button class="btn btn-info" id="feed" data-aos="flip-left" data-aos-delay="200" data-aos-duration="1000">
        Home feed tuner
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr class="setting_demar" />
  </div>
</div>

<div class="row" id="profile-edit">
  <div class="col-md-8 mx-auto my-4" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
    <div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_update_form | crispy }}
        {{ profile_update_form | crispy }}
        <div class="form-group my-3">
          <button class="btn btn-outline-info log" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container home-feed-container">
  <div class="row" id="home-feed">
    <h3 class="text-center mt-3">Select your preferences...</h3>
    <hr class="w-50" />
    <div class="container">
      <form action="{% url 'feed_tuner' %}" method="POST" class="mt-3">
        {% csrf_token %}
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
          {% for i in cat_number %}
          <div class="col" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
            <div class="card img-check mb-3">
              <input type="checkbox" id="category{{i}}" value="{{ categories|lookup:i }}" name="category" {%
                if
                categories|lookup:i
                in
                user_categories
                %} checked {%
                endif
                %} />
              <label for="category{{i}}">
                <img src="{{ cat_pictures|lookup:i }}" class="card-img img-fluid" />
              </label>
              <p class="text-center">{{ categories|lookup:i }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div id="feed-saver-btn" class="form-group mb-5">
          <button class="btn btn-outline-info log" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}