{% extends 'main/base.html' %}
{% block title %}Painterest | About{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-4 mx-auto my-auto text-center">
        <h2>About</h2>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-7 mx-auto my-auto">
        <div class="content-section mt-1 bg-light">
            <p class="intro">Hi there! I'm Tomiwa Joseph</p>
            <p class="intro-body">I am a passionate web developer and also a painting enthusiast. 
                I created this site with the aim to help artist love and learn painting from all over the world.
                They can appreciate artworks and also study from the masters.
                <br>
                I paint digitally in my spare time.
                <br><br>
                I love paintings with 
                visible brush strokes😍💓 as opposed to smooth hyperrealism shhh😏.</p>
        </div>
    </div>
</div>

{% endblock %}