{% extends 'main/base.html' %}
{% block title %}Painterest | About{% endblock %}


{% block content %}

<div class="row" data-aos="flip-down" data-aos-delay="200" data-aos-duration="1000">
    <div class="col-md-4 mx-auto my-auto text-center about_col">
        <h2>About</h2>
        <hr>
    </div>
</div>

<div class="row" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">
    <div class="col-md-7 mx-auto my-auto">
        <div class="content-section pt-4 pb-4 bg-light profile_bcg">
            <p class="intro">Hi there! I'm Tomiwa Joseph</p>
            <p class="intro-body">I am a passionate web developer and also a painting enthusiast. 
                I created this site with the aim to help artist from all over the world love and learn painting.
                They can appreciate artworks and also study from the masters.
                I paint digitally in my spare time.
                <br>
                I love paintings with 
                visible brush strokes😍💓 as opposed to smooth hyperrealism shhh😏.</p>
            <p class="intro">Find me on:</p>
            <a class="category" href='https://github.com/TomiwaJoseph' target="_blank">GitHub</a>
            <a class="category" href='https://linkedin.com/in/tomiwa-joseph-a2b024203' target="_blank">LinkedIn</a>
            <a class="category" href='https://twitter.com/tomiwajoseph10' target="_blank">Twitter</a>
        </div>
    </div>
</div>

{% endblock %}