{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Painterest | Add Paint{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6 mx-auto my-auto">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info log" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>
        
{% endblock %}
