{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Painterest | Add Paint{% endblock %}

{% block content %}

<div class="row" data-aos="flip-down" data-aos-delay="200" data-aos-duration="1000">
    <div class="col-md-4 mx-auto my-auto text-center add_paint_col">
        <h2>Add paint</h2>
        <hr>
    </div>
</div>

<div class="row" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
    <div class="col-md-6 mx-auto my-auto">
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info log" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
        
{% endblock %}
