{% extends 'main/base.html' %}
{% block content %}

<div class="row" id="slct_fld">
  <div class="col-md-7 mx-auto" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
    {% if folders_list %}
    <h4 class="mt-5">Select a folder & click Save</h4>
    <div class="content-section bg-light mt-2">
      <form method="POST" action=".">
        {% csrf_token %} {% for folder in folders_list %}
        <input type="radio" name="folder" value="{{ folder.name }}" class="vis" id="{{ folder.name }}" />
        <label for="{{ folder.name }}">{{ folder.name }}</label>
        {% endfor %}
        <hr />
        <button type="submit" class="btn btn-outline-danger w-100">Save</button>
      </form>
    </div>
    {% endif %}
  </div>

  <div class="col-md-7 mx-auto my-5" data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000">
    <h4>Create a new folder</h4>
    <div class="content-section bg-light">
      <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <input type="hidden" name="paint_id" value="{{ paint_pk }}" />
        <input type="text" class="form-control my-2" name="name" placeholder="Enter folder name here" />
        <button class="btn create-submit-button my-2 w-100">Create</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}