{% extends 'main/base.html' %}


{% block content %}

    <div class="container">
        <div class="js-masonry row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4" id="painting_container" data-masonry='{"percentPosition": true,  "itemSelector": ".col" }'>
        </div>        
    </div>

{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        var each_load = 15;
        var start_from = 0;
        var action = 'inactive'

        function load_post_data(each_load, start_from) {
            $.ajax({
                url: 'fetch_category/',
                method: 'GET',
                data: {
                    each_load: each_load,
                    start_from: start_from
                },
                caches: false,
                success: function (response) {
                    $('#painting_container').append(response);
                    if (response == "") {
                        action = 'active';
                    } else {
                        action = 'inactive';
                    }
                    var msnry = new Masonry('.row', {
                        itemSelector: '.col',
                        percentPosition: true
                    });
                    var $grid = document.querySelector('.row');
                    var $images = $grid.querySelectorAll('.card img');
                    $images.forEach(function (el) {
                        el.addEventListener('load', function () {
                            msnry.layout();
                        });
                    });
                }
            })
        }

        if (action == 'inactive') {
            action = 'active',
                load_post_data(each_load, start_from)
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $('#painting_container').height() && action ==
                'inactive') {
                action = 'active';
                start_from = start_from + each_load;
                setTimeout(function () {
                    load_post_data(each_load, start_from);
                }, 1000)
            }
        })
    })
</script>

{% endblock %}
