{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<div class="row">
    
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/sketch_by_toko_suzuki_ddp3n5q-fullview.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/ddbfwxj-034582bc-845c-4398-8186-2ab9ce4bbf61.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/dd494cj-fc60b853-5de0-4e7e-a441-8d0ccfd83805.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/portrait_by_toko_suzuki_ddom8xt-pre.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/portrait_sketch_by_toko_suzuki_ddv1ro9-pre.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/figure_work_by_toko_suzuki_ddvmpfo-fullview.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/portrait_by_toko_suzuki_ddoe613-pre.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/dacos08-5c0286cf-7b25-482e-b94e-45003f2cbc35.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/portrait_sketch_by_toko_suzuki_ddvaesw-pre.png' %}" alt=""></a>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="paint-item">
            <div class="paint-img">
                <a href=""><img class="img-fluid" src="{% static '/main/toko_suzuki_by_toko_suzuki_ddvpp26-pre.jpg' %}" alt=""></a>
            </div>
        </div>
    </div>

</div>


{% endblock %}
