{% extends 'main/base.html' %}
{% block title %}Painterest | Notifications{% endblock %}


{% block content %}

<div class="d-flex justify-content-between" id="notif_justify">
    <h2>Notifications</h2>
    <!-- Don't know how to implement this yet -->
    {% if signify %}
        <button class="btn btn-danger my-2" id="mark_all">
            Mark all as read
        </button>
    {% endif %}
</div>
<hr>

<div id="notification-container">
</div>



{% endblock %}


{% block script %}

<script>
    $(document).ready(function () {
        var each_load = 10;
        var start_from = 0;
        var action = 'inactive'

        function load_post_data(each_load, start_from) {
            $.ajax({
                url: 'notification_fetch/',
                method: 'GET',
                data: {
                    each_load: each_load,
                    start_from: start_from
                },
                caches: false,
                success: function (response) {
                    $('#notification-container').append(response);
                    if (response == "") {
                        action = 'active';
                    } else {
                        // $('#more-data').html("<i class='fa fa-cog fa-spin'></i>")
                        action = 'inactive';
                    }
                }
            })
        }

        if (action == 'inactive') {
            action = 'active',
                load_post_data(each_load, start_from)
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $('#notification-container').height() &&
                action ==
                'inactive') {
                action = 'active';
                start_from = start_from + each_load;
                setTimeout(function () {
                    load_post_data(each_load, start_from);
                }, 1000)
            }
        })


        $('#mark_all').click(function(){
            $.ajax({
                url: 'mark_all_as_read/',
                method: 'GET',
                data: {},
                success: function(response){
                    console.log('marked all as read')
                }
            })
        })

    })
</script>

{% endblock %}