{% extends 'main/base.html' %}


{% block content %}

<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="content-section bg-light">
            {% if single_message.sender.profile.image.name == 'dp.jpg' %}
                <div class="pna d-inline-block my-3">{{ single_message.sender.username.0 }}</div>
                <span class="author mr-2 text-secondary">
                {{ single_message.sender.username }}</span>
                <span class="text-danger">{{ single_message.timestamp }}</span>
            {% else %}
                <span class="author mr-2 text-secondary">
                    <img src="{{ single_message.sender.profile.image.url }}" alt="" class="img-fluid">
                {{ single_message.sender.username }}
                </span>
                <span class="text-danger">{{ single_message.timestamp }}</span>
            {% endif %}
            <div class="content-section my-3">
                <p class="the_message">
                    {{ single_message.message }}
                </p>
            </div>
            <a href="" class="btn btn-outline-danger" data-toggle='modal' data-target="#modaledit">Delete</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modaledit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-danger">Delete Message?</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'delete_message' single_message.id %}">
                    <button class="btn btn-outline-danger w-100" type="submit">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}