{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">

    <div class="col-md-6">
        <div class="paint_det">
            <img class="img-fluid" src="{{ object.painting.url }}" alt="">
        </div>
        <div class="my-4">
            {% if object.adder.profile.image.name == '90a70ab564f045a48488cd440f3b56e4-dp.jpg' %}
                <a href="{% url 'painter_profile' object.adder %}">
                    <div class="pna d-inline-block mb-3">{{ object.adder.username.0 }}</div>
                    <span class="author mr-2 text-secondary">
                    {{ object.adder }}</span>
                </a>
            {% else %}
                <a href="{% url 'painter_profile' object.adder %}"><span class="author mr-2 text-secondary"><img
                    src="{{ object.adder.profile.image.url }}" alt="" class="img-fluid">
                    {{ object.adder }}
                </span></a>
                
            {% endif %}
        </div>
        <h4>{{ object.title }}</h4>
    </div>
    <div class="col-md-6">
        <div class="details mt-5 d-flex justify-content-between align-items-center">
            {% with object.painted.all.count as total_tries %}
                <button class="btn btn-info utils" id="tried">{{ total_tries }} photo{{ total_tries|pluralize }}</button>
            {% endwith %}
            {% with object.paint_comments.all.count as total_comments %}
                <button class="btn btn-info utils" id="paint_comments">{{ total_comments }} Comment{{ total_comments|pluralize }}</button>
            {% endwith %}
            <button class="btn btn-info utils" id="show_inp">Add Comment</button>
            <a href="" class="btn btn-info utils">Save</a>
            <a href=""><i class="fa fa-download"></i></a>
        </div>
        <div class="col-12">
            <div id="tries">
                <div class="row">
                    {% for trial in object.painted.all %}
                        <div class="col-md-3 mt-4">
                            <img src="{{ trial.tries.url }}" alt="" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>
                <hr>
            </div>
            <div class="mt-4" id="comments">
                {% for comment in object.paint_comments.all %}
                    <div class="each_message content-section mb-3">
                        {% if comment.commenter.profile.image.name == 'dp.jpg' %}
                            <div class="pna d-inline-block">{{ comment.commenter.username.0 }}</div>
                            <span class="author mr-2 text-secondary">
                            {{ comment.commenter.username }}</span>
                            <span class="text-danger">{{ comment.created }}</span>
                            <p class="my-2 ml-5">{{ comment.body }}</p>
                        {% else %}
                            <span class="author mr-2 text-secondary">
                                <img src="{{ comment.commenter.profile.image.url }}" alt="" class="img-fluid">
                            {{ comment.commenter.username }}
                            </span>
                            <span class="text-danger">{{ comment.created }}</span>
                            <p class="my-2 ml-5">{{ comment.body }}</p>
                        {% endif %}
                    </div>
                {% empty %}
                    <h4>No comments yet.</h4>
                {% endfor %}
                <hr>
            </div>
            <div class="mt-4" id="add_comment">
                <form method="POST" action="{% url 'add_comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name='painting_id' value="{{ object.id }}">
                    <label for="">Add comments...</label>
                    <input type="text" class="form-control" name="comment">
                    <button class="btn btn-info my-2">Comment</button>
                </form>
                <hr>
            </div>
        </div>
        <div class="col-md-12 my-4" id="add_try">
            <div class="content-section">
                <form method="POST" enctype="multipart/form-data" action="{% url 'add_paint_try' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="hidden" name="redir" value="{{ object.id }}">
                    <div class="form-group">
                        <button class="btn btn-outline-info log" type="submit">Add</button>
                    </div>
                </form>
            </div>
            <hr>
        </div>
        <div class="col-12 my-4">
            <div class="d-flex justify-content-between">
                <div class="d-inline-block">
                    <h5 class="encourage">Tried this painting?</h5>
                    <h5 class="encourage">Add a photo to show how it went</h5>
                </div>
                <div class="d-inline-block">
                    <button class="btn btn-outline-info add_pho">Add photo</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
<hr>

<div class="row">
    <div class="col-md-12">
        <h3 class="my-4">More like this...</h3>
        <div class="card-columns">

            {% for paint in similar_paintings %}
                <div class="card paint-img">
                    <a href="{{ paint.get_absolute_url }}">
                        <img class="card-img" src="{{ paint.painting.url }}" alt="Card image cap">
                    </a>
                </div>
            {% endfor %}
    
        </div>
    </div>
    
</div>


{% endblock %}