{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load users_tags %}

{% block content %}


<h1>All Folders</h1>
<hr>

<div class="row">
    {% for folder in all_folders %}
        <div class="col-md-3 mt-3 mb-3">
            <a href="{% url 'folder_content' folder.id %}" class="open_folder">
                <div class="folder">
                    {% if folder.saved_painting.all.count > 2 %}
                        {% for paint in folder.saved_painting.all|slice_it %}
                            <div>
                                <img src="{{ paint.painting.url }}" alt="" class="img-fluid">
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for paint in folder.saved_painting.all %}
                            <div>
                                <img src="{{ paint.painting.url }}" alt="" class="img-fluid">
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <h6 class="text-center my-2">{{ folder.name }}</h6>
            </div>
            </a>
    {% endfor %}
</div>
<hr>

{% endblock %}