@media only screen and (max-width: 950px) {
  nav {
    padding: 0.5rem 40px;
  }
}
@media only screen and (max-width: 480px) {
  nav {
    padding: 0.5rem 20px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 10vh;
    height: 90vh;
    left: 0;
    position: absolute;
    background: #e6e6e6;
    text-align: center;
    z-index: 10 !important;
  }
  nav .nav-menu {
    display: none;
  }
  .nav-menu.active .mobile-links {
    display: block;
  }
  nav .mobile-icons {
    display: block;
  }
  nav .mobile-icons .fa {
    font-size: 24px;
    color: #dc3545;
  }
  nav .mobile-links a {
    font-size: 24px;
    color: #dc3545;
    padding: 30px 20px;
  }
  .desktop-links {
    display: block;
  }
  .nav-menu.active .nav-link {
    display: block;
    margin: 0;
    height: 12vh;
  }
}

@media (max-width: 768px) {
  #web_url {
    font-size: 16px;
    text-align: center;
  }
  #unread_filter_section h3,
  #read_filter_section h3,
  #all_filter_section h3 {
    font-size: 22px;
  }
  #unread_filter_section p,
  #read_filter_section p,
  #all_filter_section p {
    margin-left: 0px !important;
  }
  #slct_fld {
    margin-top: -70px !important;
  }
  #home-feed h3 {
    margin-top: -40px !important;
  }
  .profil_col,
  .paint_profil_col,
  .flex-column-reverse,
  .add_paint_col,
  #notif_justify,
  .about_col,
  .contact_col,
  .register_col,
  .all_folders_col,
  .login_col {
    margin-top: -25px !important;
  }
  .utils {
    font-size: 12px;
    width: 32%;
  }
  .down_but {
    font-size: 12px;
  }
  #comments .pna,
  #comments .author {
    font-size: 15px;
  }
  #comments .date_created {
    font-size: 12px;
  }
  #comments p {
    margin-left: 0px !important;
    font-size: 14px;
  }
  .home-feed-container {
    padding-top: 50px !important;
  }
}

@media (max-width: 425px) {
  #unread_filter_section h3,
  #read_filter_section h3,
  #all_filter_section h3 {
    margin-top: 5px;
  }
  .setting_demar {
    width: 100%;
  }
  .each_message .text-info {
    display: none;
  }
  #single_msg .text-danger {
    display: none;
  }
}

@media (max-width: 559px) {
  .del_fold_btn {
    display: block;
    width: 30% !important;
  }
}

@media (max-width: 360px) {
  .tries-container {
    display: block;
  }
  .tries-col-text,
  .tries-col-btn {
    display: block;
  }
  .tries-col-btn button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .settings {
    display: block !important;
  }
  .settings .btn {
    width: 100%;
  }
  #profile {
    margin-bottom: 10px;
  }
  #notif_justify h2 {
    display: inline;
    margin-bottom: 0;
  }
  #notif_justify button {
    display: inline !important;
    width: 50% !important;
    padding-right: 0 !important;
  }
  #notif_justify {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  #mark_all {
    display: block;
    padding-right: 95% !important;
  }
  .each_message h3,
  .each_message p {
    margin-left: 0px !important;
  }

  #gallery .card-columns {
    margin: 0 16px;
  }
  .del_fold_btn {
    display: block;
    padding-right: 95% !important;
  }
  .modal_utils a {
    width: 40% !important;
    display: block;
  }
  #painting_container {
    margin-top: -25px;
  }
}

@media (max-width: 320px) {
  .logo {
    display: none;
  }
  #slct_fld h4 {
    font-size: 20px;
  }
  #log_cat .category {
    font-size: 10px;
  }
  #web_url {
    font-size: 13px !important;
    text-align: center;
    margin-left: 0px !important;
  }
  #send_button {
    margin-top: 5px;
  }
  #view_que button {
    font-size: 12px;
  }
  .login-switch a {
    margin-right: 0;
    margin-left: 13px !important;
  }
}

@media (max-width: 600px) {
  .settings button {
    display: block;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .follw_and_follwin_col {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}
