body {
    font-family: 'poppins' !important;
}

a:hover {
    text-decoration: none;
}

button:focus,
button:active {
    outline: none !important;
    border: none !important;
}

/* <------- Navbar ---------> */


.logo{
    height: 54px;
}

.navbar .dropdown-menu {
    font-size: 14px;
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    min-width: 13em;
    margin-top: -10px;
}

.drop:hover {
    color: #fff;
    background: lightgray;
}

nav .nav-item:last-child {
    padding-right: 3em;
}

nav .nav-item {
    padding: 0.5em;
}

.navbar-brand {
    font-size: 25px;
    color: red !important;
    padding-left: 3em;
}


.navbar-nav>.active>a,
.nav-item>a:hover {
    color: red !important;
}

.nav-link i.fa {
    font-size: 20px;
}

.nav-link {
    margin-right: 20px;
}

.notificate {
    position: absolute;
    font-size: 15px;
    margin-left: -5px;
    margin-top: -10px;
}

.profile_badge {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 180%;
    border-radius: 50%;
    font-size: 16px;
    background: rgb(36, 36, 36);
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
}

.badge-account-img {
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}


/* <--------- Home -----------> */
/* @media (min-width: 320px){
    .card-columns{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        height: 320px;
    }
} */

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* @media (min-width: 1200px){
    .card-columns{
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
} */

.paint-img img {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 2%;
    padding: 4px 4px;
}

.paint-img img:hover {
    cursor: zoom-in;
}



/* <--------- Register and Login Forms ----------> */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.log:hover {
    color: #fff;
    background: red;
    border: 1px solid red;
}

.log {
    background: none;
    color: red;
    outline: none;
    border: 1px solid red;
    width: 100%;
}

.form-control:focus {
    -webkit-box-shadow: 0 3px 10px -2px red !important;
    box-shadow: 0 3px 10px -2px red !important;
    color: #000;
    border: 1px none;
}
form .alert-block{
    display: none;
}

/* <---------- General things -----------> */
.account-img {
    height: 100px;
    width: 100px;
    margin-bottom: 16px;
}

.category {
    display: inline-block;
    background: #1072f2;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff !important;
    margin-right: 10px;
    letter-spacing: .2em;
    text-decoration: none;
}


/* <----------------- Detail View -----------> */
.paint_det img {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 1%;
}

.author img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.utils {
    background: none;
    color: #000;
    outline: none;
    border: none;
    margin-bottom: 10px;
    display: inline-block;
}
.down_but {
    background: none;
    color: #f00;
    outline: none;
    border: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 25px;
}

.settings button {
    display: inline-block;
    width: 30%;
}

.utils:hover {
    color: #fff;
    background: rgb(22, 202, 202);
}

/* .details .active, */
.settings .active,
.foll {
    background: rgb(12, 170, 170) !important;
    color: #fff !important;
    border: none;
}

.encourage {
    font-size: 13px;
}

.add_pho {
    font-size: 14px;
}

.pna {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 200%;
    border-radius: 50%;
    font-size: 20px;
    background: rgb(36, 36, 36);
    color: #fff;
    margin-right: 10px;
}
/* 
.details a i.fa{
    color: #000;
    font-size: 55px;
}

.details a i.fa:hover {
    color: red;
} */

.demarcate{
    background-color: red;
}


/* <---------- Profile stuff --------> */

.change_badge {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200%;
    border-radius: 50%;
    font-size: 50px;
    background: rgb(36, 36, 36);
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
}

.follow {
    font-size: 14px;
}

.follows_you {
    background: rgb(247, 133, 133);
    color: #fff;
    padding: 2px 8px;
    text-transform: uppercase;
    border-radius: 4px;
    display: block;
}


/* <---------- Follower and Following -----------> */
.foll {
    width: 45%;
    margin-bottom: 10px;
}

.chip-left,
.chip-right {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip-left img {
    float: right;
    margin: 0 -25px 0 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip-right img {
    float: left;
    margin: 0 20px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


/* <-------------- Other CSS Tricks -------------> */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.div_ava {
    text-align: center;
}

.first {
    margin-top: -40px;
    margin-left: 3px;
    font-size: 20px;
    color: #fff;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 15px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* float: right;
    right: 0; */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}



.container ul {
    display: none;
}

#checkbox {
    opacity: 0;
}

#checkbox:checked+ul {
    display: block;
}



/* <------------- Base Stuff --------------> */
.add i,
.quest i {
    color: #000;
}

.add i:hover,
.quest i:hover {
    color: rgb(99, 99, 99);
}

.add {
    position: fixed;
    bottom: 20%;
    right: 7%;
    font-size: 35px;
    cursor: pointer;
}

.quest {
    position: fixed;
    bottom: 10%;
    right: 7%;
    font-size: 35px;
    cursor: pointer;
}

.sub-quest {
    position: fixed;
    bottom: 8%;
    right: 9%;
    cursor: pointer;
    text-align: right;
}

.sub-quest li {
    display: block;
    /* list-style: none; */
    margin-bottom: 15px;
}

#crazy {
    /* opacity: 0; */
    display: none;
}

#crazy:checked+ul {
    display: block;
}

.the_a {
    display: inline-block;
    background: #1072f2;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 10px;
    letter-spacing: .2em;
    text-decoration: none;
}

.the_a:hover {
    background: rgb(22, 202, 202);
    color: #fff;
}

.red_to_profile {
    color: #000;
}

.red_to_profile:hover {
    color: red;
}


/* <------------ Messages ---------------> */
.message_ {
    display: block;
    /* margin-bottom: 20px; */
}

.each_message a {
    color: #000;
}

.each_message:hover a {
    color: #00f;
}

.filter_buttons {
    display: block;
    margin-bottom: 10px;
    background: #858585;
    color: #fff;
    outline: none;
    border: none;
    width: 100%;
}

.filter_buttons:hover {
    color: #fff;
    background: rgb(22, 202, 202);
}

.all_filter_but .active {
    background: rgb(255, 75, 75) !important;
    color: #fff !important;
    border: none;
}

.the_message {
    text-align: justify;
}


/* <------------ Home Feed Settings Section ------> */
#feed,
#profile {
    color: rgb(22, 202, 202);
    background: none;
    border: 1px solid rgb(22, 202, 202);
}
input[type='checkbox'][id^='category'] {
    display: none;
}
.img-check label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
.img-check label:before {
    background-color: #fff;
    color: #fff;
    content: " ";
    display: block;
    border-radius: 50px;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
.img-check label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    opacity: 0.7;
}
.img-check:hover label img{
    opacity: 1;
}
.img-check :checked+label {
    border-color: teal;
}
.img-check :checked+label:before {
    content: "✔";
    background-color: #fff;
    transform: scale(1);
    color: teal;
}
.img-check :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
    opacity: 1;
}

/* <-------------- View folders -----------> */
.open_folder{
    color: #303030;
}
.open_folder:hover{
    color: red;
}
.folder{
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.folder:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



/* <------- Create or Save Section ------------> */

input.vis{
    display: none;
}
input.vis + label{
    border: 1px solid grey;
    background: ghostwhite;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
input.vis:not(:checked) + label:hover{
    box-shadow: 0px 1px 3px;
}
input.vis + label:active,
input.vis:checked + label{
    box-shadow: 0px 0px 3px;
    background: #17a2b8;
    color: #fff;
}
.vis + label{
    display: block;
    margin: 15px 0;
}


/* <--------- Folder Content Section ----------> */

.folder-img img {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 2%;
    padding: 4px 4px;
}
.folder-img img:hover {
    cursor: zoom-in;
}
.folder-img:hover img{
    opacity: 0.8;
}

/* <--------- About Section ----------> */

.intro{
    color: red;
    font-size: 20px;
}
.intro-body{
    font-size: 18px;
    line-height: 35px;
}

/* <-------- Notifications ----------> */

.notif:hover .content-section{
    background: rgb(230, 230, 230);
}
.notif_read{
    background: rgb(237, 237, 237);
}

/* <------------- Media Queries ------> */

@media (max-width: 320px) {
    .logo{
        display: none;
    }
    #slct_fld h4{
        font-size: 20px;
    }
    #log_cat .category{
        font-size: 10px;
    }
    #web_url{
        font-size: 11px!important;
    }
    #send_button{
        margin-top: 5px;
    }
    #view_que button{
        font-size: 12px;
    }
}

@media (min-width: 995px) {
    .navbar-nav{
        align-items: center;
    }
}

@media (max-width: 995px) {
    .navbar-brand {
        padding-left: 0px;
    }
}

@media (min-width: 768px){
    nav .nav-item:last-child {
        padding-right: 0px;
    }
}

@media (max-width: 460px){
    #notif_justify{
        display: block!important;
    }
    .each_message h3,
    .each_message p{
        margin-left: 0px!important;
    }
    #notif_justify button{
        display: block!important;
        width: 50%!important;
    }
    #gallery .card-columns{
        margin: 0 16px;
    }
}
@media (max-width: 425px){
    .each_message .text-info{
        display: none;
    }
    #single_msg .text-danger{
        display: none;
    }
}

@media (max-width: 768px){
    .logo{
        height: 44px;
    }
    #web_url{
        font-size: 14px;
    }
}


@media (max-width: 600px){
    .settings button{
        display: block;
        width: 100%;
    }
}
