body{
    font-family: 'poppins'!important;
}
a:hover{
    text-decoration: none;
}

/* <------- Navbar ---------> */

.navbar .dropdown-menu {
    font-size: 14px;
    border-radius: 0px;
    border: none;
    -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
    min-width: 13em;
    margin-top: -10px;
}
.drop:hover{
    color: #fff;
    background: lightgray;
}
nav .nav-item:last-child{
    padding-right: 7em;
}
nav .nav-item{
    padding: 0.5em;
}
.navbar-brand{
    font-size: 30px;
    color: red!important;
    padding-left: 5em; }
    @media (max-width: 995px){
        .navbar-brand{
            padding-left: 0px;
    }
}
.navbar-nav > .active > a,
.nav-item > a:hover{
    color: red!important;
}
.nav-link i.fa{
    font-size: 20px;
}
.nav-link{
    margin-right: 20px;
}
.notificate{
    position: absolute;
    font-size: 15px;
    margin-left: -5px;
    margin-top: -10px;
    /* background-color: red;
    color: #fff; */
}
.profile_badge{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 180%;
    border-radius: 50%;
    font-size: 16px;
    background: rgb(36, 36, 36);
    color: #fff;
    display: inline-block;
    margin-bottom: 15px;
}
.badge-account-img{
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}


/* <--------- Home -----------> */
.paint-img {
    margin-bottom: 20px;
}
.paint-img img {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 2%;
}
.paint-img img:hover{
    cursor: zoom-in;
}
.add{
    position: fixed;
    bottom: 20%;
    right: 7%;
    font-size: 35px;
    cursor: pointer;
}
.add i,
.quest i{
    color: #000;
}
.add i:hover,
.quest i:hover{
    color: rgb(99, 99, 99);
}
.quest{
    position: fixed;
    bottom: 10%;
    right: 7%;
    font-size: 35px;
    cursor: pointer;
}


/* <--------- Register and Login Forms ----------> */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}
.log:hover{
    color: #fff;
    background: red;
    border: 1px solid red;
}
.log{
    background: none;
    color: red;
    outline: none;
    border: 1px solid red;
    width: 100%;
}
.form-control:focus{
    -webkit-box-shadow: 0 3px 10px -2px red!important;
    box-shadow: 0 3px 10px -2px red!important;
    color: #000;
    border: 1px none;
}

/* <---------- General things -----------> */
.account-img {
    height: 100px;
    width: 100px;
    margin-bottom: 16px;
}
.category {
    display: inline-block;
    background: #1072f2;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff !important;
    margin-right: 10px;
    letter-spacing: .2em;
    text-decoration: none;
}


/* <----------------- Detail View -----------> */
.paint_det img{
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 1%;
}
.author img {
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.utils{
    background: none;
    color: #000;
    outline: none;
    border: none;
    margin-bottom: 10px;
    display: inline-block;
}
.settings button{
    display: block;
}
.utils:hover{
    color: #fff;
    background: rgb(22, 202, 202);
}
.details .active,
.settings .active{
    background: rgb(12, 170, 170)!important;
    color: #fff!important;
    border: none;
}
.encourage{
    font-size: 13px;
}
.add_pho{
    font-size: 14px ;
}
.pna{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 200%;
    border-radius: 50%;
    font-size: 20px;
    background: rgb(36, 36, 36);
    color: #fff;
    margin-right: 10px;
}
.details a i.fa{
    color: #000;
    font-size: 25px;
}
.details a i.fa:hover{
    color: red;
}

/* <---------- Profile stuff --------> */

.change_badge{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 200%;
    border-radius: 50%;
    font-size: 50px;
    background: rgb(36, 36, 36);
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
}
.follow{
    font-size: 14px;
}