body {
  font-family: "poppins" !important;
}

a:hover {
  text-decoration: none;
}

button:focus,
button:active {
  outline: none !important;
  border: none !important;
}

/* <------- Navbar ---------> */
.logo {
  height: 34px;
}

.navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

.drop:hover {
  color: #fff;
  background: lightgray;
}

.nav-item .home {
  font-weight: 500;
}

nav .nav-item {
  padding: 0.5em;
}

.navbar-light .fa-bars {
  color: #dc3545;
  font-size: 24px !important;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  outline: none !important;
}

.navbar-brand {
  font-size: 25px;
  color: #dc3545 !important;
  padding-left: 1em;
}

.navbar-nav > .active > a,
.nav-item > a:hover {
  color: #dc3545 !important;
}

.nav-link i.fa {
  font-size: 20px;
}

.nav-link {
  margin-right: 20px;
}

.notificate {
  position: absolute;
  font-size: 15px;
  margin-left: -5px;
  margin-top: -10px;
}

.dropdown .profile_badge {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 180%;
  border-radius: 50%;
  font-size: 16px;
  background: rgb(36, 36, 36);
  color: #fff;
  display: inline-block;
}

.badge-account-img {
  height: 30px;
  width: 30px;
  margin-bottom: 15px;
}

/* <--------- Home -----------> */
/* @media (min-width: 320px){
    .card-columns{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        height: 320px;
    }
} */

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

/* @media (min-width: 1200px){
    .card-columns{
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
} */

.paint-img img {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 2%;
  padding: 4px 4px;
}

.paint-img img:hover {
  cursor: zoom-in;
}

/* <--------- Register and Login Forms ----------> */
.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.log:hover {
  color: #fff;
  background: #dc3545;
  border: 1px solid #dc3545;
}

.log {
  background: none;
  color: #dc3545;
  outline: none;
  border: 1px solid #dc3545;
  width: 100%;
}

.form-control:focus {
  -webkit-box-shadow: 0 3px 10px -2px #dc3545 !important;
  box-shadow: 0 3px 10px -2px #dc3545 !important;
  color: #000;
  border: 1px none;
}
form .alert-block {
  display: none;
}

/* <---------- General things -----------> */
button:focus {
  box-shadow: none !important;
}
.account-img {
  height: 100px;
  width: 100px;
  margin-bottom: 16px;
}

.category {
  display: inline-block;
  background: #1072f2;
  padding: 2px 8px;
  line-height: 1.5;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff !important;
  margin-right: 10px;
  letter-spacing: 0.2em;
  text-decoration: none;
}

/* <----------------- Detail View -----------> */
.paint_det img {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 1%;
}

.author img {
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.down_but {
  width: 70%;
  background: none;
  color: #f00;
  outline: none;
  border: 2px solid #f00;
  margin-bottom: 10px;
  display: inline-block;
  padding: 6px;
}
.down_but:hover .fa {
  color: #fff;
}
.down_but:hover {
  background: red;
  color: #fff;
}
.down_but .fa {
  color: #f00;
  display: inline-block;
  font-size: 20px;
  padding-left: 2px;
}
.utils {
  width: 30%;
  background: none;
  color: #000;
  outline: none;
  border: 2px solid #1072f2;
  margin-bottom: 10px;
  display: inline-block;
  padding: 6px;
}
.utils:hover {
  color: #fff;
  border: 2px solid #05a7a7;
  background: #05a7a7;
}

.settings button {
  display: inline-block;
  width: 30%;
}

/* .details .active, */
.follwi_follwe .active,
.settings .active,
.foll {
  background: #0caaaa !important;
  color: #fff !important;
  border: none;
}

.encourage {
  font-size: 13px;
}

.add_pho {
  font-size: 14px;
}

.pna {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 200%;
  border-radius: 50%;
  font-size: 20px;
  background: rgb(36, 36, 36);
  color: #fff;
  margin-right: 10px;
}
/* 
.details a i.fa{
    color: #000;
    font-size: 55px;
}

.details a i.fa:hover {
    color: #dc3545;
} */

.demarcate {
  background-color: #dc3545;
}
.setting_demar {
  margin-top: -10px;
  width: 80%;
  background-color: #16caca;
}

/* <---------- Profile stuff --------> */

.change_badge {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 200%;
  border-radius: 50%;
  font-size: 50px;
  background: rgb(36, 36, 36);
  color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
}

.follow {
  font-size: 14px;
}

.follows_you {
  background: #f78585;
  color: #fff;
  padding: 2px 8px;
  text-transform: uppercase;
  border-radius: 4px;
  display: block;
}
#prof_about {
  line-height: 1.3;
}

/* <---------- Follower and Following -----------> */
#followers,
#followings {
  color: #dc3545;
  background: none;
  border: 1px solid #16caca;
  width: 45%;
  margin-bottom: 10px;
}

#flwng_div .follower_img,
#flwr_div .follower_img {
  height: 52px;
  width: 52px;
  border-radius: 50%;
}
#flwng_div p,
#flwr_div p {
  font-size: 14px;
}

/* <-------------- Other CSS Tricks -------------> */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.div_ava {
  text-align: center;
}

.first {
  margin-top: -40px;
  margin-left: 3px;
  font-size: 20px;
  color: #fff;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 15px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.container ul {
  display: none;
}

#checkbox {
  opacity: 0;
}

#checkbox:checked + ul {
  display: block;
}

/* <------------- Base Stuff --------------> */
.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.add i,
.quest i {
  color: #000;
}

.add i:hover,
.quest i:hover {
  color: rgb(99, 99, 99);
}

.add {
  position: fixed;
  bottom: 13%;
  right: 7%;
  font-size: 35px;
  cursor: pointer;
}

.quest {
  position: fixed;
  bottom: 5%;
  right: 7%;
  font-size: 35px;
  cursor: pointer;
}

.sub-quest {
  position: fixed;
  bottom: 5%;
  right: 10%;
  cursor: pointer;
  text-align: right;
}

.sub-quest li {
  display: block;
  /* list-style: none; */
  margin-bottom: 10px;
}

#crazy {
  /* opacity: 0; */
  display: none;
}

#crazy:checked + ul {
  display: block;
}

.the_a {
  display: inline-block;
  background: #1072f2;
  padding: 2px 8px;
  line-height: 1.5;
  font-size: 12px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  margin-right: 10px;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.the_a:hover {
  background: rgb(22, 202, 202);
  color: #fff;
}

.red_to_profile {
  color: #000;
}

.red_to_profile:hover {
  color: #dc3545;
}

/* <------------ Messages ---------------> */
.message_ {
  display: block;
  /* margin-bottom: 20px; */
}

.each_message a {
  color: #000;
}

.each_message:hover a {
  color: #00f;
}

.filter_buttons {
  display: block;
  margin-bottom: 10px;
  background: #858585;
  color: #fff;
  outline: none;
  border: none;
  width: 100%;
}

.filter_buttons:hover {
  color: #fff;
  background: rgb(22, 202, 202);
}

.all_filter_but .active {
  background: rgb(255, 75, 75) !important;
  color: #fff !important;
  border: none;
}

.the_message {
  text-align: justify;
}

/* <------------ Home Feed Settings Section ------> */
#feed,
#profile {
  color: #16caca;
  background: none;
  border: 1px solid #16caca;
}
input[type="checkbox"][id^="category"] {
  display: none;
}
.img-check label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}
.img-check label:before {
  background-color: #fff;
  color: #fff;
  content: " ";
  display: block;
  border-radius: 50px;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
.img-check label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  opacity: 0.7;
}
.img-check:hover label img {
  opacity: 1;
}
.img-check :checked + label {
  border-color: teal;
}
.img-check :checked + label:before {
  content: "✔";
  background-color: #fff;
  transform: scale(1);
  color: teal;
}
.img-check :checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
  opacity: 1;
}

/* <-------------- View folders -----------> */
.open_folder {
  color: #303030;
}
.open_folder:hover {
  color: #dc3545;
}
.folder {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.folder:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* <------- Create or Save Section ------------> */

input.vis {
  display: none;
}
input.vis + label {
  border: 1px solid grey;
  background: ghostwhite;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
input.vis:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;
}
input.vis + label:active,
input.vis:checked + label {
  box-shadow: 0px 0px 3px;
  background: #17a2b8;
  color: #fff;
}
.vis + label {
  display: block;
  margin: 15px 0;
}

/* <--------- Folder Content Section ----------> */

.folder-img img {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 2%;
  padding: 4px 4px;
}
.folder-img img:hover {
  cursor: zoom-in;
}
.folder-img:hover img {
  opacity: 0.8;
}

/* <--------- About Section ----------> */

.intro {
  color: #dc3545;
  font-size: 20px;
}
.intro-body {
  font-size: 18px;
  line-height: 35px;
}

/* <-------- Notifications ----------> */

.notif:hover .content-section {
  background: rgb(230, 230, 230);
}
.profile_bcg {
  background: #d8d8d8 !important;
}
.notif_read {
  background: #ababab;
}

/* Masonry */
.js-masonry {
  z-index: -10 !important;
}
